*{
  margin: 0;
  padding: 0;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  opacity: 0.7;
}

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #232323;
  height: 10vh;
}
 body{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-repeat:no-repeat;
  background-size: cover;
 }
 .nav-list{
   list-style: none;
   display: flex;
 }
.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
}