body,
ul,
li p {
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  background: #d490cb;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.header {
  background: #122670;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

/*painel de fotos*/
.gallery {
  column-count: 3;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  background: #f6f6f3;
  box-sizing: border-box;
  border-radius: 5px;
}

.cxTexto {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}
textarea:invalid {
  border: 2px solid red;
}
